<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>500 에러</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" th:href="@{/css/errorstyle.css}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        button {
            background-color: white;
            border-radius: 10%;
            height: 37px;
            width: 110px;
            font-size: medium;
            font-weight: bold;
        }
    </style>
</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Internet Server Error</h3>
            <h1><span>5</span><span>0</span><span>0</span></h1>
        </div>
        <h2>서비스 이용에 불편을 드려 죄송합니다.<br>시스템 에러가 발생하여 페이지를 표시할 수 없습니다.<br>관리자에게 문의하거나 잠시 후 다시 시도하세요.</h2>
        <button type="button" onclick="location.href='/'">홈으로 가기</button>
    </div>
</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>